{%extends "base.html" %}


{% block title %}Denied{% endblock %}

{% block content %}
   <div class="container">
      <h1>Top Secret </h1>
      <iframe src="https://media1.giphy.com/media/l3V0px8dfZmmfwize/giphy.gif?cid=ecf05e47esck849ck2dojsg113k3enhni6s47t7ls1pd5e0i&ep=v1_gifs_search&rid=giphy.gif&ct=g" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
      <p><a href="https://media.giphy.com/media/l3V0px8dfZmmfwize/giphy.gif">via GIPHY</a></p>
   </div>
{% endblock %}